body{
    /*background-image: url("pics/alamofamily.png");*/
    /*background-size: auto 100%;*/
    background: #860613 no-repeat center center;
    color: black;
}
.calc-inputs {
    border: 1px solid black;
    width: 100%;
    padding: .7em;
}
.no-padding{
    padding: 0px;
}
h1{
    font-size: 2em;
}
.row:after{
    margin-bottom: 1em;
}
.rectangle{
    border: 1px solid black;
    width: 100%;
    padding: .5em;
    font-size: 1.7em;
}