body{
    background-color: #888;
}
#myNavBar{
    /*background-color: black;*/
    /*color: white;*/
}
#brandPic{
    width: 100%;
}
#mainDiv{
    margin-top: 15px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    /*color: white;*/
}
#royalP{
    color: white;
}

#displayPics{
    margin: 0 auto;
    width: 50%;
    height: 500px;
}
#currentPic{
    max-height: 100%;

}

@media screen and (max-width:600px) {
    #brandPic{
        display: none;
    }
    #displayPics{
        width: 100%;
    }
    #currentPic{
        max-height: none;
        max-width: 100%;
    }
}