body{
    /*background-image: url("pics/alamofamily.png");*/
    /*background-size: auto 100%;*/
    background: black no-repeat center center;
    color: white;
}
.calc-inputs {
    border: 0;
    width: 100%;
    /*padding: .7em;*/
    font-size: 6em;
    text-align: center;
    background-color: black;
    height: 120px;
}
.onetonine{
    background-color: #4a424275;
}
.no-padding{
    padding: 0px;
}
h1{
    font-size: 2.2em;
    color: #dddddd;
}
.row:after{
    margin-bottom: 1em;
}
.rectangle{
    border: 1px solid black;
    width: 100%;
    padding: .5em;
    font-size: 1.7em;
    /*color: white;*/
    font-weight: bold;
    border-radius: 50% 0;
}
.rectangle:active{
    background-color: rgba(28,28,28,0.21);
}
.square{
    border: 1px solid black;
    width: 20%;
    padding: .5em;
    margin-left: .5em;
    font-size: 1.7em;
    /*color: white;*/
    font-weight: bold;
}